/VoxelPlanet/Debug/
/VoxelPlanet/Release/
/VoxelPlanet/world/
/VoxelPlanet/mods/
/VoxelPlanet.TestMod/Release/
/VoxelPlanet.ColorChanger/Release/
/VoxelPlanet.Disintegration/Release/
/VoxelPlanet.PoliticalCompass/Release/

