id ICON "assets/icons/icon.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "VoxelPlanet"
      VALUE "Comments", "A moddable 3D drawing/painting sandbox game that uses colored cubes and blocks"
      VALUE "FileVersion", "1.0"
      VALUE "CompanyName", "CrystalVulpine"
      VALUE "InternalName", "VoxelPlanet"
      VALUE "OriginalFilename", "VoxelPlanet.exe"
      VALUE "ProductName", "VoxelPlanet"
      VALUE "ProductVersion", "0.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END